html {
  box-sizing: border-box;
}


*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/wallpaper2.jpg");
  background-repeat: repeat;
  left:0;right:0;
  z-index: -10;
}

#chair {
  position: fixed;
  z-index: 7;
}

#harriet {
  position: fixed;
  z-index: 6;
}

#girl_a{
  position: fixed;
  z-index: 10;
}

#glove_b {
  position: fixed;
  z-index: 2;
}

#hats  {
  position: fixed;
}

#dress {
  position: fixed;
  z-index: 5;
}

#shoes {
  position: fixed;
}

#earring {
  position:fixed;
  z-index: 8;
}

#dress_a{
  position:fixed;
  z-index: 9;
}

#vinyl {
  position: fixed;
  z-index: 10;
}

#vase {
  position: fixed;
  z-index: 8;
}

#plate{
  position: fixed;
  z-index: 1;
}

#jimmi {
  position: fixed;
  z-index: 4;
}

#camera{
  position: fixed;
  z-index: 8;
}
#camera2{
  position: fixed;
  z-index: 7;
}
#clock1 {
  position: fixed;
  z-index: -1;

}
.collage{
  filter: sepia(.4);
}

.collage:hover{
  filter: sepia(0);
  filter: contrast(1);
}

#stuff{
  position: fixed;
  z-index: 10;
  box-shadow: 0px 0px 20px 10px rgba(105,67,33,1);

}

#shoes2 {
  position: fixed;
  z-index: 10;
  box-shadow: 0px 0px 20px 10px rgba(105,67,33,1);
}

#glass {
  position: fixed;
  z-index: 11;
  box-shadow: 0px 0px 20px 10px rgba(105,67,33,1);
}

#hats2{
  position: fixed;
  z-index: 10;
  box-shadow: 0px 0px 20px 10px rgba(105,67,33,1);
}

#pins{
  position: fixed;
  z-index: 12;
  box-shadow: 0px 0px 20px 10px rgba(105,67,33,1);
}

#willow{
  filter: saturate(2);
  filter: sepia(.3);
  position: fixed;
  top:30%;left:33%;
  height:250px;
  z-index: 10;
}

.links {
  text-decoration: none;
  font-family: "Lobster Two";
  color: white;
  font-size: 30px;
  padding:0 10px;
  background-color: rgba(105,67,33,.4);
  border-radius: 30%;
  box-shadow: 0 0 10px 7px rgba(105,67,33,.4);
}

nav {
  background-color: rgba(105,67,33,.7);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  height:75px;
  left: 0; right:0;
  z-index: 15;
}

@media only screen and (min-width: 320px){

  body{
  }

  nav {
    top:0;
  }

  #willow {
    left:-5%;
  }
  #chair {
    top: 285px; right: 5%;
    height:100px;
  }

  #harriet {
    height: 130px;
    top:150px; right: 35%;
  }

  #girl_a{
    height:130px;
    top:265px; left: 17%;
  }

  #glove_b {
    height: 120px;
    top:70px; right:5%;
  }

  #hats  {
    height: 100px;
    top:50px; left: 2%;
  }

  #dress {
    height: 100px;
    top:150px;left:25%;
  }

  #shoes {
    height: 75px;
    top: 390px; left: 3%;
  }

  #earring {
    height:50px;
    top: 500px;right: 3%;
  }

  #dress_a{
    height:120px;
    top:350px;left:63%;
  }

  #vinyl {
    height:50px;
    top:350px; right:37%;
  }

  #vase {
    height: 100px;
    top: 300px;left:35%;
  }

  #plate{
    top: 20px; left:60%;
    height: 50px;
  }

  #jimmi {
    height: 75px;
    top:10px; left:45%;
  }

  #camera{
    top:40px; left:30%;
    height: 50px;
  }
  #camera2{
    top:45px; left:33%;
    height: 35px;
  }
  #clock1 {
    height: 60px;
    top:30px; right: 1%;
  }
  .collage{
    filter: sepia(.4);
  }

  .collage:hover{
    filter: sepia(0);
    filter: contrast(1);
  }

  #stuff{
    height: 100px;
    top:200px;left:65%;
  }

  #shoes2 {
    height: 100px;
    top:375px; left:75%;
  }

  #glass {
    height: 75px;
    top:465px; left: 25%;
  }

  #hats2{
    height: 75px;
    top: 100px;left:15%;
  }

  #pins{
    height: 75px;
    top:480px; left:50%;
  }

}

@media only screen and (min-width: 500px){
}
@media only screen and (min-width: 720px){


  body {
    min-height: 2000px;
  }

  nav {
    bottom: 0;
  }

  #collage-main {
    position: absolute;
  }

  #chair {
    top: 385px; right: 5%;
    height:300px;
  }

  #harriet {
    height: 400px;
    top:250px; right: 35%;
  }

  #girl_a{
    height:400px;
    top:310px; left: 17%;
  }

  #glove_b {
    height: 350px;
    top:170px; right:5%;
  }

  #hats  {
    height: 300px;
    top:150px; left: 2%;
  }

  #dress {
    height: 300px;
    top:150px;left:25%;
  }

  #shoes {
    height: 250px;
    top: 490px; left: 3%;
  }

  #earring {
    height:150px;
    top: 600px;right: 3%;
  }

  #dress_a{
    height:350px;
    top:350px;left:63%;
  }

  #vinyl {
    height:100px;
    top:400px; right:33%;
  }

  #vase {
    height: 300px;
    top: 250px;left:90%;
  }

  #plate{
    top: 75px; left:60%;
    height: 150px;
  }

  #jimmi {
    height: 200px;
    top:110px; left:45%;
  }

  #camera{
    top:70px; left:20%;
    height: 150px;
  }
  #camera2{
    top:70px; left:23%;
    height: 100px;
  }
  #clock1 {
    height: 160px;
    top:100px; right: 1%;
  }

  #stuff{
    height: 150px;
    top:200px;left:65%;
  }

  #shoes2 {
    height: 150px;
    top:425px; left:75%;
  }

  #glass {
    height: 125px;
    top:460px; left: 25%;
  }

  #hats2{
    height: 125px;
    top: 200px;left:15%;
  }

  #pins{
    height: 125px;
    top:500px; left:50%;
  }

  #willow{
    top:30%;left:33%;
    height:250px;
  }

}
